body {
  color: white;
  background-color: #282c34;
}
.gallery {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}
.column {
  flex: 1;
}

.box {
  font-size: 22px;
  font-weight: 500;
  transition: height 200ms;
}

.box .image {
  width: 100%;
}

body{
  /*noinspection CssInvalidPropertyValue*/
  overflow-y: overlay;
}
body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
}
